h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primary);
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary);
}

body {
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-primary);
}

form input {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  border: none;
  padding: 1rem;
}

form input:focus {
  border: none;
  outline: none;
}
