@import "_reset.css";
@import "_fonts.css";
@import "_variables.css";
@import "_components.css";
@import "_elements.css";

html {
  height: 100%;
}
body {
  display: grid;
  min-height: 100%;
  grid-template-rows: var(--header-size) 1fr var(--footer-size);
}
.content-wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
.article-wrapper {
  min-height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}

header {
  background-color: green;
}
footer {
  background-color: red;
}
